@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree&family=Baloo+Thambi+2&family=Caveat:wght@400;500;700&family=Fraunces:ital,opsz,wght@0,9..144,300;0,9..144,700;1,9..144,500&family=Montserrat:ital,wght@0,200;0,300;0,500;0,700;1,500;1,600&family=Outfit:wght@700&family=Pacifico&family=Varela+Round&display=swap');

body {
    margin: 0;
    background-image: url('images/bg-header-desktop.png');
    background-repeat: no-repeat;
    background-size: contain;
    max-width: 1440px;
    margin-top: 250px;
    /* width: 100%;
    height: 100%; */
    /* background-attachment: fixed;   */
    /* background-size: cover; */
}

.cont1 {
    /* background-image: url('images/bg-header-desktop.png');
        background-size: contain; */
    /* background-size: cover;
        background-attachment: fixed; */
    /* background-repeat: no-repeat;    */
    /* justify-content: center; */
    text-align: center;
    /* padding: 100px; */
    position: relative;
    width: 100%;
    top: 65px;
    height: 100%;
    margin-top: 85px;
}

button.b1 {
    width: 150px;
    height: 50px;
    background: aquamarine;
    border: none;
    box-shadow: black;
    border-radius: 35px;
    cursor: pointer;
    font-family: 'Bai Jamjuree', sans-serif;
    gap: 10px;
}

button.b2 {
    width: 150px;
    height: 50px;
    border: none;
    box-shadow: black;
    border-radius: 35px;
    background: blue;
    font-family: 'Bai Jamjuree', sans-serif;
    cursor: pointer;
}

/* .pa2 {
    padding: 80px;
} */
.pa2 {
    width: 100%;
    height: 100%;
    margin-top: 100px;
    margin-bottom: 100px;
}

/* .page2 {
    width: 100%;
    height: 100%;
    position: relative;
    top: 100px;
}

img.page2 {
    height: 500px;
    width: 682px;
    position: relative;
    right: 100px;
    overflow: hidden;
    top: 120px;
} */
/* .con {
    position: relative;
    left: 650px;
    bottom: 315px;
}          */
.pag3 {
    text-align: center;
    flex-wrap: wrap;
    margin-top: 75px;
}

.img3 {
    width: 70%;
    height: 70%;
}


.page4 {
    text-align: center;
    width: 100%;
    height: 100%;
    /* position: revert; */
    margin-top: 50px;
}

.page5 {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    height: 100%;
}

.page7 {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
    margin-bottom: 200px;
}

.page6 {
    text-align: center;
    width: 100%;
    height: 100%;
    margin-bottom: 100px;
    margin-top: -74px;
  }

.page2image {
    position: relative;
    left: -221px;
    overflow: hidden;
}

.page2 {
    width: 100%;
    height: 100%;
}

.page2inner {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
}

.con2 {
    font-size: larger;
}

/* footer {
    text-align: center;
    padding: 52px 10px;
    background-color: whitesmoke;
    color: black;
    margin: auto;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    bottom: 0;

}

li {
    float: left;
    padding: 14px 28px;
    text-decoration: none;
    list-style: none;
    position: relative;
    left: -81px;
    cursor: pointer;
}

li.o {
    position: relative;
    bottom: -50px;
    left: -84px;
    text-decoration: none;
    list-style: none;
}

i.fa-regular.fa-copyright.fa-xl {
    position: relative;
    left: -130px;
    bottom: -23px;
} */

img.page2 {
    width: 80%;
    height: 80%;
    /* margin: auto; */
}

/* .img1 {
    width: 100%;
    height: 100%;
  } */

/* ----foodter----- */

.footer {
    display: flex;
    margin: auto;
    background-color: rgb(209, 218, 226);
    
}



img.logo {
    margin: auto;
    /* cursor: pointer; */
}


.low {
    margin: auto;
    /* cursor: pointer; */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.total-icon {
    margin: auto;
    /* cursor: pointer;     */
}

.low ,img.logo:hover{
    /* color: black; */
    /* background-color: aqua; */
    cursor: pointer;
    
}




@media only screen and (max-width: 600px) {
    body {
        margin: 0;
        background-image: url('images/bg-header-desktop.png');
        background-repeat: no-repeat;
        background-size: contain;
    }

    .cont1 {
        text-align: center;
        position: relative;
        width: 100%;
        top: 65px;
        height: 100%;
    }

    .page2inner {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        display: grid;
        justify-content: center;
        text-align: center;
    }

    img.page2 {
        width: 80%;
        height: 80%;
        /* margin: auto; */
    }

    .page2image {
        position: relative;
        left: auto;
        overflow: hidden;
    }

    .img3 {
        width: 70%;
        height: 70%;
        text-align: center;
        margin: auto;
    }

    .page5 {
        display: grid;
        justify-content: space-evenly;
        text-align: center;
        height: 100%;
    }

    .page7 {
        height: 100%;
        width: 100%;
        display: grid;
        justify-content: center;
        gap: 50px;
    }

    .pa2 {
        width: 100%;
        height: 100%;
        margin-top: 75px;
    }

    .pag3 {
        text-align: center;
        flex-wrap: wrap;
    }


    .page4 {
        text-align: center;
        width: 100%;
        height: 100%;
        position: revert;
    }

    .page6 {
        text-align: center;
        width: 100%;
        height: 100%;
    }

    .page2 {
        width: 100%;
        height: 100%;
    }

    /* footer {
        text-align: center;
        margin: auto;
        padding: 52px 10px;
        background-color: whitesmoke;
        color: black;
        margin: auto;
        display: grid;
        justify-content: center;
        text-align: center;
        flex-wrap: wrap;
        bottom: auto;
    }

    li {
        float: auto;
        padding: 14px 28px;
        text-decoration: none;
        list-style: none;
        position: relative;
        left: auto;
        cursor: pointer;
    }

    li.o {
        position: relative;
        bottom: -50px;
        left: auto;
        text-decoration: none;
        list-style: none;
    }

    i.fa-regular.fa-copyright.fa-xl {
        position: relative;
        left: auto;
        bottom: auto;
    } */
    /* -------------------------- */

    .footer {
        display: grid;
        margin: auto;
        background-color: rgb(209, 218, 226);
    }

    img.logo {
        margin: auto;
    }


    .low {
        margin: auto;
    }

    .total-icon {
        margin: auto;
    }
}

/* font style */
h1.page1 {
    font-family: 'Bai Jamjuree', sans-serif;
    color: black;
}

p.page1 {
    font-family: 'Bai Jamjuree', sans-serif;
    color: gray;
}

h1 {
    font-family: 'Bai Jamjuree', sans-serif;
    color: black;
}

p {
    font-family: 'Bai Jamjuree', sans-serif;
    color: gray;
}

h3 {
    color: black;
    font-size: xx-large;
    font-weight: bolder;
}

.page2content {
    font-family: 'Bai Jamjuree', sans-serif;
}

h2.page3 {
    font-family: 'Bai Jamjuree', sans-serif;
}

h2.page4 {
    font-family: 'Bai Jamjuree', sans-serif;
}

p.page4 {
    font-family: 'Bai Jamjuree', sans-serif;
}

h1.box1 {
    font-family: 'Bai Jamjuree', sans-serif;
    font-size: x-large;
    color: black;
    font-weight: bold;
    border: none;
}

p.box2 {
    font-family: 'Bai Jamjuree', sans-serif;
    font-size: medium;
    color: gray;
}

.con2 {
    font-size: medium;
    font-family: 'Bai Jamjuree', sans-serif;
    color: gray;
}

h1.page6 {
    font-family: 'Bai Jamjuree', sans-serif;
    font-size: x-large;
    color: black;
}

p.page6 {
    font-family: 'Bai Jamjuree', sans-serif;
    color: gray;
    font-size: medium;
}